
.open-sans-normal {
  font-family: "Open Sans","Inter" ,sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav style */
nav{
    width: auto;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-logo{
    width: 99px;
    height: 51px;
    color:#4E47FF ;
    font-family: "inter";
    font-size: 34px;
    font-weight: 800;
}
.nav-btn{
     width: 132px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #4E47FF;
    color: #ffffff;
    margin-top: -35px;
}